<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--组件扫描-->
    <context:component-scan base-package="com.keji.blog"/>
    <!--freemaker-->
    <bean id="freemarkerConfig"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/ftl/" />
        <property name="defaultEncoding" value="UTF-8" />
    </bean>

    <!--<bean id="compactDisc" class="com.keji.blog.controller.spring.bean.SgtPeppers"/>-->

    <!--装配字符串-->
    <!--<bean id="compactDisc" class="com.keji.blog.controller.spring.bean.BlankDisc">-->
        <!--<constructor-arg value="Sgt.Pepper's Lonely Heart Club Band"/>-->
        <!--<constructor-arg value="The Beatles"/>-->
    <!--</bean>-->

    <!--装配集合-->
    <!--<bean id="compactDisc" class="com.keji.blog.controller.spring.bean.BlankDisc">-->
        <!--<constructor-arg value="Sgt.Pepper's Lonely Heart Club Band"/>-->
        <!--<constructor-arg value="The Beatles"/>-->
        <!--<constructor-arg>-->
            <!--<list>-->
                <!--<value>Sgt.1</value>-->
                <!--<value>Sgt.2</value>-->
                <!--<value>Sgt.3</value>-->
                <!--<value>Sgt.4</value>-->
                <!--<value>Sgt.5</value>-->
                <!--&lt;!&ndash;<ref bean="sgtPepper"/>&ndash;&gt;-->
            <!--</list>-->
            <!--&lt;!&ndash;<set>&ndash;&gt;-->
                <!--&lt;!&ndash;<value>1</value>&ndash;&gt;-->
                <!--&lt;!&ndash;<value>1</value>&ndash;&gt;-->
                <!--&lt;!&ndash;<value>1</value>&ndash;&gt;-->
            <!--&lt;!&ndash;</set>&ndash;&gt;-->
        <!--</constructor-arg>-->
    <!--</bean>-->

    <!--属性注入这种方式没有使用构造器注入，所以使用的是默认的空参构造，而是使用的是类中的setter方法-->
    <!--<bean id="compactDisc" class="com.keji.blog.controller.spring.bean.BlankDisc">-->
        <!--<property name="title" value="this is title"/>-->
        <!--<property name="artist" value="this is artist"/>-->
        <!--<property name="tracks">-->
            <!--<list>-->
                <!--<value>1</value>-->
                <!--<value>asd</value>-->
                <!--<value>1asda</value>-->
            <!--</list>-->
        <!--</property>-->

    <!--</bean>-->




    <!--属性注入 为Setter方法提供功能-->
    <!--<bean id="cdPlayer" class="com.keji.blog.controller.spring.bean.CDPlayer">-->
        <!--<property name="compactDisc" ref="compactDisc"/>-->
    <!--</bean>-->

    <!--构造器注入 为构造器提供功能 -->
    <!--<bean id="cdPlayer" class="com.keji.blog.controller.spring.bean.CDPlayer">-->
        <!--<constructor-arg ref="compactDisc"/>-->
    <!--</bean>-->


</beans>